/* ************************************************* */
/* colors                                            */
/* ************************************************* */

:root {

  /* overall look */
  --primary-0: hsl(193deg 38% 86%);
  --primary-1: hsl(150deg 100% 66%);
  --neutral-0: hsl(217deg 19% 38%);
  --neutral-1: hsl(217deg 19% 24%);
  --neutral-2: hsl(218deg 23% 16%);
}
