/* ************************************************* */
/* effects                                           */
/* ************************************************* */

:root {

  /* border radius */
  --radius-0: 3px;
  --radius-1: 6px;
  --radius-2: 8px;
  --radius-3: 12px;
  --radius-4: 16px;
  --radius-5: 100%;

  /* shadows */
  --shadow-0:
    0.8px 0.8px 3.6px hsl(0deg 0% 0% / 2.4%),
    2.1px 2.1px 10px hsl(0deg 0% 0% / 3.5%),
    5.1px 5.1px 24.1px hsl(0deg 0% 0% / 4.6%),
    17px 17px 80px hsl(0deg 0% 0% / 7%);
  --shadow-1:
    0.8px 0.8px 2.7px hsl(0deg 0% 0% / 2.2%),
    2.1px 2.1px 6.9px hsl(0deg 0% 0% / 3.1%),
    4.3px 4.3px 14.2px hsl(0deg 0% 0% / 3.9%),
    8.8px 8.8px 29.2px hsl(0deg 0% 0% / 4.8%),
    24px 24px 80px hsl(0deg 0% 0% / 7%);
  --shadow-2:
    1.1px 1.1px 2.2px hsl(0deg 0% 0% / 2%),
    2.7px 2.7px 5.3px hsl(0deg 0% 0% / 2.8%),
    5px 5px 10px hsl(0deg 0% 0% / 3.5%),
    8.9px 8.9px 17.9px hsl(0deg 0% 0% / 4.2%),
    16.7px 16.7px 33.4px hsl(0deg 0% 0% / 5%),
    40px 40px 80px hsl(0deg 0% 0% / 7%);
  --shadow-3:
    1.8px 1.8px 2.2px hsl(0deg 0% 0% / 2.2%),
    4.3px 4.3px 5.3px hsl(0deg 0% 0% / 3.2%),
    8px 8px 10px hsl(0deg 0% 0% / 4%),
    14.3px 14.3px 17.9px hsl(0deg 0% 0% / 4.8%),
    26.7px 26.7px 33.4px hsl(0deg 0% 0% / 5.8%),
    64px 64px 80px hsl(0deg 0% 0% / 8%);
  --shadow-4:
    2.4px 2.4px 2.2px hsl(0deg 0% 0% / 2.5%),
    5.9px 5.9px 5.3px hsl(0deg 0% 0% / 3.6%),
    11px 11px 10px hsl(0deg 0% 0% / 4.5%),
    19.7px 19.7px 17.9px hsl(0deg 0% 0% / 5.4%),
    36.8px 36.8px 33.4px hsl(0deg 0% 0% / 6.5%),
    88px 88px 80px hsl(0deg 0% 0% / 9%);
}

/* animation */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-down {
  from {
    transform: translate3d(0, -80%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fade-in-up {
  from {
    transform: translate3d(0, 30%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
