/* ************************************************* */
/* layout                                            */
/* ************************************************* */

:root {

  /* spacing */
  --space-0000: 4px;
  --space-000: 8px;
  --space-00: 12px;
  --space-0: 16px;
  --space-1: 20px;
  --space-2: 24px;
  --space-3: 28px;
  --space-4: 32px;
  --space-5: 36px;
  --space-6: 40px;
  --space-7: 44px;
  --space-8: 48px;
  --space-9: 56px;
  --space-10: 64px;
  --space-11: 80px;
  --space-12: 96px;
  --space-13: 112px;

  /* container */
  --width-0: 480px;
  --width-1: 640px;
  --width-2: 768px;
  --width-3: 1024px;
  --width-4: 1280px;
}
